
<h3>Panel de Ordenes</h3>
<br/>
<div style="text-align: right;">
    <button type="button" class="btn btn-sm btn-primary" routerLink="/order/new" >Crear Orden</button>
</div>
<br/>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Cliente</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orderList.orders; let indice=index" >
        <th scope="row">{{ indice + 1 }}</th>
        <td>{{ o.customer }}</td>
        <td>{{ o.state  | states }}</td>
        <td>{{ o.createdAt | date:'medium' }}</td>
        <td>{{ o.total }}</td>
        <td><button type="button" class="btn btn-sm btn-primary" routerLink="/order/{{ o.id}}">Editar</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="orderList.length == 0" class="alert alert-warning" role="alert">
    No existen productos que mostrar. :(
  </div>