
<h3>Panel de Ordenes</h3>
<br/>
<div style="text-align: right;">
    <button type="button" class="btn btn-sm btn-primary" (click)="createOrder()" >Crear Orden</button>
</div>
<br/>

<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">N° Orden</th>
        <th scope="col">Cliente</th>
        <th scope="col">Estado</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total</th>
        <th style="text-align: center;" scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let o of orderList.orders; let indice=index" >
        <td scope="row">{{ indice + 1 }}</td>
        <td>{{ o.orderNumber }}</td>
        <td>{{ o.customer }}</td>
        <td>{{ o.state  | states }}</td>
        <td>{{ o.createdAt | date:'medium' }}</td>
        <td> {{ o.total | currency  }}</td>
        <td style="text-align: center;" *ngIf="o.state == 1"><button type="button" class="btn btn-sm btn-primary" routerLink="/order/{{ o.id}}">Editar</button></td>
        <td style="text-align: center;" *ngIf="o.state == 2 || o.state == 3"><button type="button" class="btn btn-sm btn-success" routerLink="/order/{{ o.id}}">Ver</button></td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="orderList.length == 0" class="alert alert-warning" role="alert">
    No existen productos que mostrar. :(
  </div>