<br/>
<h3>Seleccione el producto</h3>
<div style="text-align: right;">
    <button type="button" class="btn btn-sm btn-secundary" (click)="back()" >Volver</button>
</div>
<br/>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let p of productList.products; let indice=index" >
        <th scope="row">{{ indice + 1 }}</th>
        <td >{{ p.name }} </td>
        <td>{{ p.categoryName }}</td>
        <td>$. {{ p.unityPrice }} </td>
        <td>
          <button routerLink="/order/add-product/amount/{{ p.id }}/{{ id }}" type="button" class="btn btn-sm btn-success">Elegir</button>
        </td>
        </tr>
    </tbody>
  </table>
  