<h3>Panel de Productos</h3>
<br/>
<div style="text-align: right;">
    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#exampleModal">Crear Producto</button>
</div>
<br/>
<app-new-product></app-new-product>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productList.products; let indice=index" >
        <th scope="row">{{ indice + 1 }}</th>
        <td>{{ p.name }}</td>
        <td>{{ p.categoryName }}</td>
        <td>{{ p.unityPrice }}</td>
        <td *ngIf="p.state == 1 ">Activo</td>
        <td *ngIf="p.state == 2 ">Inactivo</td>
        <td style="text-align: center;"><button routerLink="/product/{{ p.id }}" style="margin-right: 20px;" type="button" class="btn btn-sm btn-primary">Editar</button>
          <button type="button" (click)="deleteProduct(p.id)" class="btn btn-sm btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
